html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bg-container {
    width: 99%;
    display: flex;
   
}

.left-side {
    width: 100%;
    /* margin: 2rem; */
    height: 99vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /* justify-content: space-evenly; */
    background-color: rgb(71, 71, 240);
    color: #fff;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
   
}

.form-signup {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.icons {
    margin: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 50%;
    /* padding: 1rem; */

}

.left {
    font-weight: bolder;
    /* padding-bottom: 0.5rem; */
    margin-bottom: 0.5rem;
    margin-left: 1rem;

}

.title {
    display: flex;
    flex-direction: column;
    /* padding:0.5rem; */
}

.fa-solid {
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    /* margin: 2rem; */
    padding: 2rem;
    height: 2vh;
    opacity: 4;
}

.content {
    margin-left: 1rem;
}



.right {
    width: 100%;
    height: 99vh;
    
}

/* .right {
    width: 100%;
    display: flex;
} */
.container {
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}

.sign-up {
    width: 80%;
   

}

#area {
    width: 40vh;
}